<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
        }

        .navi{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #333;
            padding: 10px 20px;
        }

        .navi h1 {
            color: #fff;
            font-size: 24px;
        }

        .navi ul {
            display: flex;
            list-style-type: none;
            justify-content: center;
            padding: 10px 0;
        }

        .navi ul li {
            margin: 0 15px;
        }

        .navi ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            padding: 8px 12px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .navi ul li a:hover {
            background-color: #575757;
            border-radius: 4px;
        }
        .content {
            padding: 20px;
            text-align: center;
            background-color: #f4f4f4;
            margin: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
       input[type="text"] {
            padding: 6px 10px; /* Mniejsze wypełnienie */
            border: 1px solid #ccc; /* Grubość i styl obramowania */
            border-radius: 4px; /* Zaokrąglenie rogów */
            font-size: 14px; /* Mniejszy rozmiar czcionki */
        }

            /* Styl dla przycisku */
        button[type="submit"] {
            padding: 8px 16px; /* Mniejsze wypełnienie */
            background-color: #007bff; /* Kolor tła */
            color: #fff; /* Biały kolor tekstu */
            border: none; /* Usunięcie obramowania */
            border-radius: 4px; /* Zaokrąglenie rogów */
            cursor: pointer; /* Kursor */
            font-size: 14px;/* Mniejszy rozmiar czcionki */
        }

            /* Dodatkowy styl, gdy przycisk jest najechany kursorem */
        button[type="submit"]:hover {
            background-color: #0056b3; /* Ciemniejszy kolor tła po najechaniu kursorem */
        }
    </style>
</head>
<body>
    <div class="navi">
        <h1>
        <form method='GET' action='/search'>
        <input type='text' name='wyszukiwarka'><button type='submit'>szukaj</button>
        </form>
        </h1>
        <ul>
            <li><a href="/">Menu</a></li>
            <li><a href="/wpisy">Posts</a></li>
            <li><a href="/about">About Me</a></li>
        </ul>
    </div>
    <div class="content">
        <h2> Last Post</h2><br />
        <p id="data">{{ wpis.dateAdded|date('Y-m-d') }}</p>
        <h3>{{wpis.title}}</h3>
        {# <h4>Kategria: {{wpis.category}}</h4> #}
        <p id="content">{{ wpis.content[:150]}}</p><br>
        
    </div>
</body>
</html>