<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    button {
            padding: 8px 16px; 
            background-color: #808000; 
            color: #fff; 
            border: none; 
            border-radius: 4px; 
            cursor: pointer; 
            font-size: 14px;
            float:left;
            margin:5px;
        }

        button:hover {
            background-color: #807030;
        }
    </style>
</head>
<body>
    {# templates/forum/edit.html.twig #}
{{ form(form) }}

<a href="/wpisy"><button class="back">Back</button></a>
</body>



</html>