<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wpisy</title>
    <style>
        hr{
            width:50%;
            float: left;
        }

        a{
            decoration: none;
            color: purple;

        }

        a:visited{
            decoration: none;
            color:green;
        }

        a:hover{
            color:lightblue;
        }
    </style>
</head>
<body>
    <h1>Wpisy</h1>

    {% for wpis in wpisy%}
        <h3><a href="wpis/{{wpis.id}}">{{wpis.title}} - {{wpis.category}}</a></h3>
        <p>{{wpis.content}}</p>
        <hr><br /><br />
    {% endfor %}
    
</body>
</html>