<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wpis</title>
    <style>
        button{
            color: rgb(54, 155, 141);
            background-color: rgb(188, 231, 179);
            border-radius: 10px;
            width: 100px;
            height: 35px;
        }

        a{
            color: rgb(54, 155, 141);
            text-decoration: none;
        }

        button:hover{
            background-color: rgb(168, 252, 203);
        }
    </style>
</head>
<body>

    <h1>Tytlu: {{wpis.title}}</h1>
    <h3>Kategria: {{wpis.category}}</h3>
    <h3>Zawartosc:</h3>
    <p id="content">{{ wpis.content[:150]}}</p><br />

    <a href="/wpisy"><button>Back</button></a>
    
</body>
</html>